/*------------------------------------*\
    #CORSET
\*------------------------------------*/

// set max-width for container
// manually calculated from breakpoints

$corset-base: 	0.667;
$corset-snug: 	0.50;
$corset-loose:	0.80;

.corset {
	max-width: 100%; // default for smallest screens
	margin-left: auto;
	margin-right: auto;
	@include media-query(mq-sm-up) {
		max-width: round($corset-base * 768px);
	}
	@include media-query(mq-md-up) {
		max-width: round($corset-base * 1024px);
	}
	@include media-query(mq-lg-up) {
		max-width: round($corset-base * 1260px);
	}
}

.corset--snug {
	max-width: 100%; // default for smallest screens
	margin-left: auto;
	margin-right: auto;
	@include media-query(mq-sm-up) {
		max-width: round($corset-snug * 768px);
	}
	@include media-query(mq-md-up) {
		max-width: round($corset-snug * 1024px);
	}
	@include media-query(mq-lg-up) {
		max-width: round($corset-snug * 1260px);
	}
}

.corset--loose {
	max-width: 100%; // default for smallest screens
	margin-left: auto;
	margin-right: auto;
	@include media-query(mq-sm-up) {
		max-width: round($corset-loose * 768px);
	}
	@include media-query(mq-md-up) {
		max-width: round($corset-loose * 1024px);
	}
	@include media-query(mq-lg-up) {
		max-width: round($corset-loose * 1260px);
	}
}